.qkgnh { 
  font-size: 65px;
  padding-right: 11px;
  font-size: 11px;
  padding-left: 86px;
  margin-right: 70px;
  margin-bottom: 80px;
  margin-left: 41px;
  margin-bottom: 84px;
  border-left-width: 87px;
  margin-top: 77px;
  font-size: 3px;
  padding-top: 18px;
  border-bottom-width: 78px;
  border-bottom-width: 86px;
  margin-right: 79px;
  border-bottom-width: 2px;
  font-size: 32px;
  border-left-width: 75px;
  border-right-width: 43px;
  padding-top: 54px;
}
